{% extends 'base.html' %}
{% load task_filter %}
{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="taskName" class="form-label">업무명</label>
            <input type="text" class="form-control" name="taskName" id="taskName" value="{{ form.taskName.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="referenceUrl" class="form-label">참조 URL</label>
            <input type="text" class="form-control" name="referenceUrl" id="referenceUrl" value="{{ form.referenceUrl.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label class="form-label">사이트 구분</label>
            <div class="card" style="padding: 6px 0px 6px 15px;">
                <div class="checkbox">
                    {% if siteTypeList %}
                        {% for siteType in siteTypeList %}
                            <input type="checkbox" name="siteType" id="id_siteType" value="{{ siteType.id }}"
                            {% for taskSiteType in task.siteType.iterator %}
                                {% if siteType == taskSiteType %}
                                    checked
                                {% endif %}
                            {% endfor %}
                            >{{ siteType }}&nbsp;
                        {% endfor%}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">기기 구분</label>
            <div class="card" style="padding: 6px 0px 6px 15px;">
                <div class="checkbox">
                    {% if deviceList %}
                        {% for deviceType in deviceList %}
                            <input type="checkbox" name="deviceType" id="id_deviceType" value="{{ deviceType.id }}"
                            {% for taskDeviceType in task.deviceType.iterator %}
                                {% if deviceType == taskDeviceType %}
                                    checked
                                {% endif %}
                            {% endfor %}
                            >{{ deviceType }}&nbsp;
                        {% endfor%}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">담당자</label>
            <div class="card" style="padding: 6px 0px 6px 15px;">
                <div class="checkbox">
                    {% if manageList %}
                        {% for manager in manageList %}
                            <input type="checkbox" name="manager" id="id_manager" value="{{ manager.id }}"
                            {% for taskManager in task.manager.iterator %}
                                {% if manager == taskManager %}
                                    checked
                                {% endif %}
                            {% endfor %}
                            >{{ manager }}&nbsp;
                        {% endfor%}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="request" class="form-label">요청자</label>
                    <input type="text" class="form-control" name="request" id="request" value="{{ form.request.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="prioritize" class="form-label">우선순위</label>
                    <select class="form-control" name="prioritize" id="prioritize">
                        <option value="2">보통</option>
                        <option value="1">높음</option>
                        <option value="3">낮음</option>
                    </select>
                    <input type="hidden" name="hidPrioritize" id="hidPrioritize" value="{{ form.prioritize.value }}">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="taskState" class="form-label">상태</label>
                    <select class="form-control" name="taskState" id="taskState">
                        <option value="N">준비</option>
                        <option value="P">진행</option>
                        <option value="Y">완료</option>
                        <option value="E">보류</option>
                    </select>
                    <input type="hidden" name="hidTaskState" id="hidTaskState" value="{{ form.taskState.value }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="taskStartDate" class="form-label">시작일</label>
                    <input type="text" class="form-control datepicker" name="taskStartDate" id="taskStartDate" value="{{ form.taskStartDate.value|default_if_none:''|date:'Y-m-d' }}">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="taskEndDate" class="form-label">종료일</label>
                    <input type="text" class="form-control datepicker" name="taskEndDate" id="taskEndDate" value="{{ form.taskEndDate.value|default_if_none:''|date:'Y-m-d' }}">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="taskProgress" class="form-label">진행률</label>
                    <input type="number" class="form-control" name="taskProgress" id="taskProgress" value="{{ form.taskProgress.value }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="taskContent" class="form-label">내용</label>
            <textarea class="form-control" name="taskContent" id="taskContent" rows="10">{{ form.taskContent.value|default_if_none:'' }}</textarea>
        </div>
        <div class="form-group" style="text-align:center;">
            <button type="submit" class="btn btn-primary btn-lg" id="btnSubmit">저장하기</button>
        </div>
    </form>
</div>
{% endblock%}
{% block script %}
<script type="text/javascript">
    new SimpleMDE({
        autofocus: false,
        element: document.getElementById("taskContent"),
        spellChecker: false,
        autosave: {
            enabled: false,
            unique_id: "taskContent",
        },
    });

    $(function() {
        $('.datepicker').datepicker();
    });

    $(document).ready(function() {
        let prioritize = $('#hidPrioritize').val();
        let taskState = $('#hidTaskState').val();

        if (prioritize === 'None') {
            prioritize = 2;
        }

        if (taskState === 'None') {
            taskState = 'N';
        }

        $('#prioritize').val(prioritize);
        $('#taskState').val(taskState);
    });
</script>
{% endblock %}