{% extends 'base.html' %}
{% block content %}
<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
    </div>
    <form class="user" method="post" action="{% url 'common:signup' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="아이디" value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-user" id="password1" name="password1" placeholder="비밀번호" value="{{ form.password1.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-user" id="password2" name="password2" placeholder="비밀번호 확인" value="{{ form.password2.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="이메일" value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-success btn-user btn-block">가입하기</button>
    </form>
</div>
{% endblock %}